* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.4;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  background: no-repeat center center fixed;
  background-size: 100% 100%;
  overflow: auto;
  overflow-x:hidden;
  overflow-y:hidden;
}

/*html {
  position: relative;
  height: 100%;
  top: -150px;
}*/

/*Below are css styles for nyc_jumper.html file - start */
.navbar-default {
  border: none;
  width: 100%;
  position: absolute;
  margin: 0px;
  background-color: transparent;
  border-radius: none;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 100px;
}

.container {
  position: relative;
  min-height: 100;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*.navbar-brand {
  font-size: 2em;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  color: black !important;
  float: left;
  padding: 15px;
  line-height: 20px;
  height: 50px;
}

.navbar-white {
  z-index: 70;
  background-color: #fff;
  color: #1bbc9b;
  border-bottom: solid 1px #eee;
}

.navbar-brand-white {
  color: #1bbc9b !important;
}*/

.main {
  height: 100%;
  position: relative;
}

.top-section {
  color: white !important;
  background-color: #1bbc9b;
  background-image: url(../img/bg-tile.png);
  text-align: center;
  position: relative;
  height: 90%;
  height: 470px;
  text-align: center;
  z-index: 90;
  padding: 0px 30px;
}

.top-section h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600 !important;
  font-size: 5em;
}

.top-section h2 {
  font-weight: 200 !important;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 100px;
  font-size: 2em;
}

.top-section p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}

.top-section input {
  background-color: #fff;
  border: solid 2px #fff;
  color: #1bbc9b;
  box-shadow: none;
}

.wrapper {
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

a {
  color: #1bbc9b;
}

a:hover {
  color: #1bbc9b;
}

.form-field {
  padding-left: 20px;
  padding-right: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border-radius: 4px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}

.form-group {
  margin-bottom: 15px;
}

.next-section-btn {
  position: relative;
  bottom: 100px;
}

.btn {
  border-radius: 20px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 25px;
  line-height: 1.42857143;
}

.col-sm-4 {
  float: left;
}

.header-btn {
  font-size: 1em;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  background-color: transparent;
  border: solid 2px #fff;
  transition: .1s;
}

.header-btn:hover {
  color: #1bbc9b;
  background-color: #fff;
  border: solid 2px #fff;
}

.btn-block {
  display: block;
  width: 100px;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

input {
  cursor: auto;
  margin: 0;
  font: inherit;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
}

.centering {
  float: right;
  left: -28%;
  position: relative;
}
/*End - ******************************************/


/*Below are css styles for index.html GAME file - start*/
.flex-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  background-color: gray;
  border: 1px solid black;
  overflow:auto;
}

.flex-item {
  width: 83px;
  height: 65px;
  background-color: #DEB887;
  align-self: center;
  border: 0.5px solid black;
}

.player {
  position: absolute;
  display: flex;
  align-items: start-end;
  width: 28px;
  height: 50px;
  /*margin: 0 0 0 50%;*/
  left: 50%;
  right: 0px;
  top: 0px;
}

.player img{
  height: 50px;
  width: 25px;
  border-radius: 50%;
}

.start {
/*  display: flex;*/
  align-self: flex-start;
  width: 100%;
  height: 50px;
  background-color: #FFA07A;
  font-family: 'Source Sans Pro', sans-serif;
}

.start p {
  margin-left: -90%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.finish {
  order: 2;
  align-self: flex-end;
  width: 100%;
  height: 50px;
  background-color: #F5DEB3;
  font-family: 'Source Sans Pro', sans-serif;
}

.finish p {
  margin-left: -91%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.obstacles {
  border-radius: 20%
}

#obstacle1 {
  position: absolute;
  width: 70px;
  height: 50px;
  left: 0px;
  top: 100px;
  background: url(../img/bmw.png) no-repeat;
}

#obstacle2 {
  position: absolute;
  width: 80px;
  height: 40px;
  left: 0px;
  top: 50px;
  background: url(../img/lambo.png) no-repeat;
}

#obstacle3 {
  position: absolute;
  width: 75px;
  height: 50px;
  left: 0px;
  top: 390px;
  background: url(../img/police.png) no-repeat;
}

#obstacle4 {
  position: absolute;
  width: 70px;
  height: 50px;
  top: 430px;
  right: 0px;
  background: url(../img/taxi1.png) no-repeat;
}

#obstacle5 {
  position: absolute;
  width: 70px;
  height: 50px;
  top: 390px;
  right: 0px;
  background: url(../img/taxi1.png) no-repeat;
}

#obstacle6 {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 400px;
  right: 0px;
  background: url(../img/blackcar.png) no-repeat;
}

#obstacle6a {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 400px;
  right: 0px;
  background-color: yellow;
  background: url(../img/scooby.png) no-repeat;
}

#obstacle6b  {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 50px;
  right: 0px;
  background: url(../img/delivery.png) no-repeat;
}

#obstacle7 {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 90px;
  right: 0px;
  background: url(../img/bus1.png) no-repeat;
}

#obstacle7a {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 375px;
  right: 0px;
  background: url(../img/bus2.png) no-repeat;
}

#obstacle7b {
  position: absolute;
  width: 80px;
  height: 50px;
  top: 235px;
  right: 0px;
  background: url(../img/cyclist.png) no-repeat;
}

#obstacle7c {
  position: absolute;
  width: 80px;
  height: 50px;
  top: 235px;
  right: 0px;
  background: url(../img/motorcycle.png) no-repeat;
}

#obstacle7d {
  position: absolute;
  width: 75px;
  height: 50px;
  left: 0px;
  top: 60px;
  background: url(../img/police1.png) no-repeat;
}

#obstacle7e {
  position: absolute;
  width: 75px;
  height: 50px;
  left: 0px;
  top: 380px;
  background: url(../img/police1.png) no-repeat;
}

#obstacle7f {
  position: absolute;
  width: 40px;
  height: 60px;
  left: 0px;
  top: 235px;
  background: url(../img/bike2.png) no-repeat;
}

#obstacle8 {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 110px;
  right: 0px;
  background: url(../img/schoolbus.png) no-repeat;
}

#obstacle8a {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 400px;
  right: 0px;
  background: url(../img/ambulance.png) no-repeat;
}

#obstacle8b {
  position: absolute;
  width: 70px;
  height: 40px;
  top: 230px;
  right: 0px;
  background: url(../img/bike.png) no-repeat;
}

#obstacle8c {
  position: absolute;
  width: 40px;
  height: 50px;
  top: 230px;
  right: 0px;
}

#obstacle8c img {
  width: 40px;
  height: 50px;
}

/*Bottom Section division*/
/*Into 2 sections*/
.bottom_page {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 540px;
  position: bottom;
}

.half-col {
  width: 48%;
  float: left;
  padding: 15px;
  margin-left: 15px;
  position: relative;
  min-height: 1px;
}
/*End **********************************/

/*When a player reaches the bottom
1) Scores a point
2) places player to the top
*/
.score_win {
  text-align: center;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin: 600px;
}

#score_win {
  position: relative
  height: 40px;
  font-size: 25px;
  color: black;
  border: 1px solid black;
  text-align: center;
  background-color: #DEB887;
}
/*End **********************************/

/*Transferring data from the landing page*/
#player_name {
  position: relative
  height: 40px;
  font-size: 20px;
  color: black;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  background-color: #DEB887;
}
/*End **********************************/

/*This css styling is for main.html backup page for future use*/
/*When using main.html - make sure to use styles below*/
h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 60px;
  letter-spacing: 7px;
  margin: 15% 0 1% 0;
  text-align: center;
}

input[type="submit"] {
  font-size: 100px;
  padding: 7px 30px;
  position: relative;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive;
  background-color: #f9e42e;
  border: 2px solid;
  color: #033048;
}

input[type="submit"]:hover {
  background-color: tomato;
  font-style: italic
}

input[type="submit"]:visited {
  color: black;
  text-decoration: none;
}

input[type="submit"]:link {
  text-decoration: none;
}

.formresize {
  width: 150px;
  height: 40px
}
/*End **********************************/

/*Media Query*/
@media screen and (max-width:979px) {
  .centering {
    margin-left: 300px ;
  }

  .container {
    background-size: 90%;
  }

  h1 {
    font-size: 40px;
    margin-top: 17%;
  }

  p {
    margin-left: 350px;
    padding-left: 100px;
  }

  .obstacles {
    width: 15px;
    height: 20px;
  }

}



